/* global stuff */

:root {
    --font-color: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #050a1b;
    color: var(--font-color);
}

/* general stuff */

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* nav */

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

/* header */

header {
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: 300;
    padding: 50px 0px 20px 0px;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 20px;
    padding: 10px 0px;
    opacity: 0.6;
}

/* main */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

/* auth */

.authForm {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

/* button styling */

.linkBtn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 25px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(12, 95, 12);
    transition: all 100ms linear;
}

.linkBtn:hover {
    background-color: rgb(30, 146, 30);
}

/* welcome message */

#welcome {
    display: none;
    padding: 20px 0px;
    font-weight: 300;
    text-align: center;
}

/* find playlists button */

#findBtn {
    display: none;
}

/* playlist display */

#playlists {
    max-width: 400px;
    margin: 0 auto;
}

.summary {
    padding: 20px 0px;
}

.playlistContainer {
    display: block;
    margin: 20px 0px;
    padding: 20px;
    background-color: #192755;
    border-radius: 5px;
    cursor: pointer;
}

.playlistName {
    font-size: 20px;
    margin-top: 10px;
}

.playlistDescription {
    font-style: italic;
}

.trackContainer {
    margin-top: 20px;
}

.track {
    display: block;
}

/* form */

.form {
    margin: 0 auto;
    max-width: 350px;
    display: none;
    text-align: center;
}

.formControl {
    margin: 20px 0px;
}

.formControl input[type="text"] {
    text-align: center;
    padding: 10px;
    margin-bottom: 4px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #555;
    transition: all 100ms linear;
}

.formControl input[type="text"]:focus {
    border-bottom: 1px solid var(--font-color);
}
