/* global stuff */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
    --font-color: #eaeaea;
    --bg-color: #050a1b;
    --button-color: rgb(12, 95, 12);
    --button-hover-color: rgb(30, 146, 30);
    --accent-color: yellow;
    --lightgray-color: #668;
    --secondary-accent-color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    line-height: 1.6;
    font-size: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* general stuff */

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    transition: all 100ms linear;
}

a {
    text-decoration: none;
    color: inherit;
}

.centered {
    text-align: center;
}

/* button styling */

.linkBtn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 25px;
    cursor: pointer;
    margin: 15px;
    background-color: var(--button-color);
}

.linkBtn:hover {
    background-color: var(--button-hover-color);
}

/* nav */

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}

nav i:hover {
    color: var(--accent-color);
}

/* header */

header {
    text-align: center;
}

.title {
    font-size: 50px;
    padding: 50px 0px 20px 0px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.subtitle {
    line-height: 1.2;
}

/* auth */

#authForm {
    text-align: center;
    margin-bottom: 20px;
}

/* info */

.info {
    text-align: justify;
    margin: 40px auto 40px auto;
    max-width: 700px;
}

.info a {
    color: var(--accent-color);
}

/* welcome message */

#welcome {
    display: none;
    margin: 50px 0px 20px 0px;
    text-align: center;
    color: var(--accent-color);
}

/* form */

.form {
    margin: 0 auto;
    max-width: 400px;
    display: none;
    position: relative;
}

.formControl {
    margin: 20px 0px;
}

#titleInput {
    color: var(--secondary-accent-color);
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--lightgray-color);
}

#titleInput:focus {
    border-bottom: 1px solid var(--font-color);
}

.form input[type="checkbox"] {
    margin: 2px;
}

#idContainer {
    display: none;
    text-align: center;
}

.fa-question-circle {
    font-size: 14px;
    transform: translateY(-3px);
}

.fa-question-circle:hover {
    cursor: pointer;
    color: var(--accent-color);
}

#saveInfo {
    text-align: justify;
    display: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0px 0px 18px;
}

/* find playlists button */

#findBtn {
    display: none;
    left: 50%;
}

/* loading spinner */

.spinner {
    align-self: center;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: rotate 2.5s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* playlist display */

#playlists {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.summary {
    text-align: center;
    margin: 10px 0px 20px;
}

.playlistContainer {
    margin: 20px 0px;
    padding: 20px;
    border-bottom: 1px solid var(--lightgray-color);
}

.playlistName {
    color: var(--accent-color);
    font-size: 25px;
}

.playlistName:hover {
    opacity: 0.8;
}

.playlistDescription {
    font-size: 16px;
    font-style: italic;
    line-height: 1.2;
}

.trackContainer {
    margin: 20px 0px 0px 25px;
}

.track {
    color: var(--secondary-accent-color);
}

.trackListing {
    margin: 5px 0px;
}

.track:hover {
    color: var(--accent-color);
}

@media (min-width: 720px) {
    .info {
        margin: 40px auto 80px auto;
    }
}
