<%- include("./header.ejs") %>

<nav>
    <i class="fas fa-home" title="Home"></i>
</nav>

<h2 id="welcome">Hi <span id="user_name"></span>!</h2>

<section id="form" class="form">
    <div class="formControl">
        <input type="text" id="titleInput" placeholder="Choose a song title">
        <label class="centered" for="titleInput">
            Song title
        </label>
    </div>

    <div class="formControl">
        <input type="checkbox" id="caseInput"> 
        <label for = caseInput>
            Case-sensitive search
        </label>
    </div>

    <div class="formControl">
        <input type="checkbox" id="exactInput"> 
        <label for = "exactInput">
            Exact match
        </label>
    </div>
    
    <div class="formControl">
        <input type="checkbox" id="useId"> 
        <label for = "useId">
            Use song id instead
        </label>
    </div>  

    <div class="formControl" id="idContainer" class="centered">
        <input type="text" id="idInput" placeholder="e.g. 5QRfoW5XLqBM2oCPRg2Sr7"> 
        <label class="centered" for = "idInput">
            Song id – check the song's Spotify URI
        </label>
    </div>

    <div class="formControl">
        <input type="checkbox" id="saveInput" checked> 
        <span>
            <label for = "saveInput">
                Remember playlists
            </label>
            <i class="fas fa-question-circle"></i>
        </span>
        <div id="saveInfo">
            This means that a snapshot of your playlists is saved on your device
            during the first search, so that every search after that will be
            <i>much</i> faster. However, any changes in your playlists in the meantime
            are ignored.
            <div id="snapShotControls">
                <input type="button" class="linkBtn" id="deleteBtn" value="Delete snapshot">
                <span id="deleteInfo"></span>
            </div>            
        </div>
    </div>
    
    <div class="centered">
        <input type="button" class="linkBtn" id="findBtn" value="Find your playlists" />
    </div>            
    
</section>

<!-- can make this section to a template as well perhaps -->
<section id="playlists">             
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js" integrity="sha512-GkJRKF+k/yzHfJUg9LrNLQhS0jorQe4kES+GHkqtQThCJ5z5A1KwCXH0GYbJApDh/a3ERFvq9xbRJY9mEXzQiA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="module" src="./js/main.js"></script>

<%- include("./footer.ejs") %>