<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <h1 class="title">Spotify Playlist Finder</h1>
        <h2 class="subtitle">Find all of your playlists which contain a specific song</h2>
    </header>
    <main>
